<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Empleados</h1>
    <div class="d-flex">
      <button (click)="clickAgregarEmpleado()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">
        Nuevo Empleado
      </button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Salario</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleadoData">
      <td>{{empleado.id}}</td>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellidos}}</td>
      <td>{{empleado.email}}</td>
      <td>{{empleado.celular}}</td>
      <td>{{empleado.salario}}</td>
      <td>
        <button (click)="onEmpleado(empleado)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Editar</button>
        <button (click)="deleteEmpleado(empleado)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Empleado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre" aria-describedby="nombreHelp">
          </div>
          <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input type="text" formControlName="apellidos" class="form-control" id="apellidos" aria-describedby="nombreHelp">
          </div>
          <div clss="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" id="email" aria-describedby="nombreHelp">
          </div>
          <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" formControlName="celular" class="form-control" id="celular" aria-describedby="nombreHelp">
          </div>
          <div class="mb-3">
            <label for="salario" class="form-label">Salario</label>
            <input type="text" formControlName="salario" class="form-control" id="salario" aria-describedby="nombreHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelar" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" *ngIf="showAgregar" class="btn btn-primary" (click)="agregarEmpleado()">Agregar</button>
        <button type="button" *ngIf="showEditar" class="btn btn-info" (click)="editarEmpleado()">Editar</button>
      </div>
    </div>
  </div>
</div>
